<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Express API</h1>
        <nav>
            <ul>
                <li><a href="/users">Users</a></li>
                <li><a href="/posts">Posts</a></li>
                <li><a href="/comments">Comments</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>
